/* MENU */
    nav {
        background-color: #039be5;
    }
    #menuDroit {
        padding-right: 20px;
    }

    #logo {
        padding-left: 20px;
    }

    #logo img {
        height: 100%;
    }


/* CORPS DU SITE */
    .container {
        margin-top: 20px;
    }


    /* DIAPORAMA */
        .carousel.carousel-slider {
            height: 400px;
        }
        .carousel-item img{
            height: 400px;
        }

    /* CONTENU BLOG */
        #contenu {
            margin-top : 20px;
        }



/* FOOTER */
    footer {
        margin-top : 20px;
    }